# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# checksums of file modification time
.checksumgo
proto/.checksumproto

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
livekit-server

# Dependency directories (remove the comment below to include it)
# vendor/
.idea/
bin/
