[Unit]
Description=LiveKit Server Container %I
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker stop livekit-server
ExecStartPre=-/usr/bin/docker rm livekit-server
ExecStartPre=/usr/bin/docker pull livekit/livekit-server:%i
ExecStart=/usr/bin/docker run --rm --name livekit-server \
                              --net host \
                              --volume /opt/livekit-server:/opt/livekit-server \
                              livekit/livekit-server:%i \
                              --config /opt/livekit-server/config.yaml

[Install]
WantedBy=multi-user.target
